*{
	margin:0;
	padding:0;
}
body{
	margin:0;
}
header{
	width:100%;
	display:inline-block;
}
.header_up{
	width:100%;
	height:70px;
	display:inline-block;
	background:#ba2e1f;
}
.header_up_area{
	margin:0 50px;
}
.header_up_menu{
	margin-top:26px;
	float:left;
}
.header_up_menu p a{
	text-decoration:none;
	color:white;
}
.header_up_search{
	margin-top:20px;
	float:right;
	width:250px;
	background:white;
	padding:3px 0;
	border-radius:10px;
}
.header_up_search a i{
	float:right;
	background:red;
	color:white;
	padding:5px;
	border-radius:12px;
	margin-right:15px;
	font-size:15px;
}
.header_midle{
	width:100%;
	display:inline-block;
}
.header_midle_area{
	margin:0 50px;
}
.header_midle_logo{
	float:left;
	margin-top:20px;
}
.header_midle_logo h1{
	font-size:35px;
}
.header_midle_logo h1 span{
	font-size:50px;
}
.header_midle_logo p{
	margin:0;
}
.header_midle_icon{
	float:right;
	margin-top:40px;
}
.header_midle_icon a i{
	width:40px;
	height:30px;
	background:#333333;
	text-align:center;
	color:white;
	border-radius:20px;
	padding-top:10px;
	margin-left:8px;
}
 .header_midle_icon .active{
	background:#ee802f!important;
	transform:rotate(20deg);
}
.header_midle_icon a i:hover{
	background:#ee802f;
}
.header_down{
	width:100%;
	display:inline-block;
}
.header_down_area{
	margin:0 50px;
}
.header_down_menu{
	width:100%;
	background:linear-gradient(#333333 50%, #2b2b2b 50%);
	height:40px;
	border-radius:7px;
	margin-top:35px;
}
.header_down_menu ul{
	list-style:none;
	text-align:center;
	margin-left:120px;
}
.header_down_menu li{
	float:left;
}
.header_down_menu li a{
	color:white;
	text-decoration:none;
	padding:11px 15px;
	display:inline-block;
	border-right:1px solid #0000002e;
	transition:0.2s;
}
.header_down_menu li .active{
	color:#ee802f;
	border-left:1px solid #0000002e;
}
.header_down_menu li a:hover{
	color:#ee802f;
}
li .dropdown{
	display:inline-block;
}
.dropdown_content{
	width:150px;
	background:white;
	box-shadow:4px 3px 16px #00000042;
	position:absolute;
	display:none;
	z-index:1;
}
li .dropdown_content a{
	display:block;
	padding:15px 15px;
	text-align:left;
	color:#000000b8;
	border:none;
}
li .dropdown_content a:hover{
	background:#00000021;
}
.header_down_menu .dropdown:hover .dropdown_content{
	display:block;
}


/*for iPhone 6/7/8*/
@media screen and (max-width:667px){
	.header_down_area{
		margin:0 25px!important;
	}
	.header_down_menu ul{
		margin-left:10px!important;
	}
	.header_down_menu li a{
		padding:11px 7px!important;
		font-size:10px;
		margin-top:4px;
	}
	.slider_area{
		margin:30px 25px!important;
	}
	.slider_left img{
		width:617px!important;
		height:400px!important;
		background-size:cover!important;
		position:relative!important;
	}
	.slider_right{
		width:500px!important;
		text-align:center!important;
		position:absolute!important;
		top:230px!important;
		left:80px!important;
		
	}
	.slider_right h1{
	font-size:40px!important;
	color:white!important;
	text-shadow:1px 1px 10px black;
	}
	.slider_right p{
		color:white!important;
		text-shadow:1px 1px 10px black;
	}
	.about_area{
		margin:50px 25px!important;
	}
	.about h1{
		text-align:center;
	}
	.about_left{
	width:100%!important;
	}
	.about_left img{
		width:100%!important;
		height:250px!important;
	}
	.about_middle{
		width:100%!important;
		margin-left:20px;
	}
	.about_middle img{
		width:110px!important;
		height:110px!important;
	}
	.about_middle h2{
		font-size:25px!important;
		margin-bottom:10px;
	}
	.about_middle p{
		font-size:22px;
		line-height:25px;
	}
}



.slider{
	width:100%;
	display:inline-block;
}
.slider_area{
	margin:30px 50px;
}
.slider_left{
	float:left;
}
.slider_left img{
	width:560px;
	height:600px;
}
.slider_right{
	width:500px;
	float:right;
	margin-top:200px;
}
.slider_right h1{
	font-size:80px;
	margin-bottom:20px;
}
.slider_right p{
	line-height:25px;
	color:#666666;
	font-size:18px;
}
.slider_right span{
	float:right;
	color:#ee802f;
	margin-top:40px;
}
.about{
	width:100%;
	display:inline-block;
}
.about_area{
	margin:50px 50px;
}
.about h1{
	text-transform:capitalize;
	font-size:27px;
	color:#333333;
	margin-bottom:50px;
}
.about_left{
	width:340px;
	float:left;
	margin-right:130px;
}
.about_left img{
	width:336px;
	height:190px;
	outline:1px solid #dfdfdf;
	outline-offset:3px;
}
.about{
	letter-spacing:1px;
	line-height:20px;
}
.about_left p{
	color:#878787;
	margin:30px 0 14px 0;
}
.about_middle{
	width:340px;
	float:left;
}
.service1, .service2, .service3, .service4{
	margin:65px 0 20px 0;
}
.about_middle img{
	width:64px;
	height:64px;
	float:left;
	margin-right:20px;
}
.about_middle h2{
	text-transform:capitalize;
	font-size:15px;
	color:#878787;
}
.about_middle p{
	color:#878787;
	display:block;
}
.about_right{
	width:340px;
	float:right;
}
.about_right i{
	font-size:60px;
	display:inline-block;
	margin-right:20px;
	display:inline-block;
	color:#d4d4d4;
}
.about_right h2{
	text-transform:capitalize;
	color:#878787;
	font-size:18px;
	display:inline-block;
}
.about_right p{
	color:#878787;
}
.about span{
	color: red;
	float:right;
	text-transform:capitalize;
}
.about_right span{
	margin-top:20px;
}
.about_right_up{
	display:inline-block;
	margin-top:12px;
}
.about_right_down{
	display:inline-block;
	margin-top:36px;
}
.contuct{
	width:100%;
	display:inline-block;
}
.contuct_area{
	margin:100px 50px;
	display:flex;
}
.contuct1,.contuct2,.contuct3{
	width:300px;
	margin-right:50px;
	border-top:1px solid #666666;
	padding:20px 0;
}
.contuct4{
	width:300px;
	border-top:1px solid #666666;
	padding:20px 0;
}
.contuct h1{
	margin-bottom:30px;
	color:#666666;
}
.contuct p{
	font-size:20px;
	color:#666666;
}
.contuct span{
	color:red;
}
.contuct1 p{
	margin: 5px 0 40px 0;
	line-height:30px;
}
.contuct2 a{
	display:block;
	border-bottom:1px solid #d4d4d4;
	padding:10px 0;
	text-decoration:none;
	font-size:20px;
	color:#666666;
}
.contuct3 .post1{
	margin:5px 0 35px 0;
}
.contuct3 .post1 h2, .post2 h2{
	font-size:20px;
	color:#666666;
}
.contuct3 .post1 p, .post2 p{
	line-height:25px;
}
.contuct3 .post1,.post2{
	display:inline-block;
}
.contuct3 .small{
	font-size:15px;
	margin-bottom:15px;
} 
.contuct3 a span{
	float:right;
	text-decoration:none;
	margin-top:20px;
}
.contuct4 form{
	margin-top:5px;
}
.contuct4 input[type="text"]{
	display:block;
	width:270px;
	padding:13px 0;
	margin:5px 0;
	border:none;
}
.contuct4 textarea{
	display:block;
	width:270px;
	height:150px;
	margin:5px 0;
	border:none;
}
.contuct4 input[type="submit"]{
	border:none;
	background:transparent;
	text-transform:uppercase;
	font-size:20px;
	color:red;
	cursor:pointer;
	margin-top:35px;
}
footer{
	width:100%;
	height:70px;
	display:inline-block;
	background:#f2f2f2;
}
.footer_area{
	margin:0 50px;
}
.footer_left{
	float:left;
}
.footer_right{
	float:right;
}
footer p{
	color:#919191;
	margin-top:30px;
	font-size:15px;
	letter-spacing:1px;
}